<div class="header-box-small">
    <div class="inner">
        <ul class="nav">
            <li><a href="/">Home page</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/restaurant">Restaurant</a></li>
            <li><a href="/testimonials">Testimonials</a></li>
            <li><a href="/booking">Booking & Login</a></li>
        </ul>
    </div>
</div>